:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white: #F2F2F2;
    --base-font-size: 15px;
    --header-font-size: 40px;
}